<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Visual Chatbot</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <!--===============================================================================================-->
    <link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet'>
</head>
<body oncontextmenu='return false' class='snippet-body'>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
<!--                <div class="row container d-flex justify-content-center">-->
<!--                <div class="col-md-6">-->
                <form id="chatForm" name="chatForm" class="form-horizontal" role="form" method="POST" th:action="@{/chat}" th:object="${chatMessages}" enctype="multipart/form-data">
                    <div class="card card-bordered">
                        <div class="card-header">
                            <h4 class="card-title"><strong>Visual/Voice/Text Communication</strong></h4> <a th:href="@{/logout}" data-abc="true" class="btn btn-xs btn-secondary" >Sign Out</a>
                        </div>
                        <div class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow-y: scroll !important; height:500px !important;">

                            <div th:each="message : ${chatMessages.messages}" th:id="${message.chatType == 'FA'} ? 'answer-to-focus-id' : ''" th:class="${message.chatType == 'FA'} ? 'answer-to-focus' : ''">
                                <div class="media media-chat media-chat-forward" th:if="${message.chatType == 'A'}">
                                    <img class="avatar" src="/images/chatbot-4.jpeg" alt="...">
                                    <div class="media-body">
                                        <p><span th:text="${message.chatMessage}"></span></p>
                                    </div>
                                </div>
                                <div class="media media-chat media-chat-reverse" th:if="${message.chatType == 'Q'}">
                                    <div class="media-body">
                                        <p><span th:text="${message.chatMessage}"></span></p>
                                    </div>
                                </div>
                                <div class="media media-chat media-chat-reverse" th:if="${message.chatType == 'MQ'}">
                                    <div class="media-body">
                                        <p><span>Processing: </span><img width="100px" height="100px" class="img-thumbnail" th:src="${message.chatMessage}" th:alt="..."></p>
                                    </div>
                                </div>
                                <div class="media media-chat media-chat-forward" id="answerBlock" th:if="${message.chatType == 'FA'}">
                                    <img class="avatar" src="/images/chatbot-4.jpeg" alt="...">
                                    <div class="media-body">
                                        <p th:utext="${#strings.replace(message.chatMessage, '\n','&lt;br /&gt;')}" ></p>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                            </div>
                            <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                                <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
                            </div>
                        </div>
                        <div class="publisher bt-1 border-light">
                            <img class="avatar avatar-xs" src="/images/chatbot-4.jpeg" alt="...">
                            <input class="publisher-input" type="text" id="question" name="question" placeholder="Write something"  autocomplete="off" />
                            <span class="publisher-btn file-group">
                                <input type="file" name="snapshot" accept="image/png, image/jpeg" onchange="uploadFile(this)" />
                                <i class="fa fa-paperclip file-browser"></i>
                            </span>
                            <a class="publisher-btn text-info" href="#" id="submitButton" onclick="submitform(this)" data-abc="true">
                                <i class="fa fa-paper-plane"></i>
                            </a>
                        </div>
                    </div>
                </form>
<!--                </div>-->
<!--                </div>-->
                <script type="text/javascript">

                    $(document).ready(function() {
                        document.getElementById("answer-to-focus-id").scrollIntoView();
                        document.getElementById("question").focus();

                        var finalAnswer = document.getElementById("final-answer-text").innerText;
                        alert(document.getElementById("final-answer-text").parent);
                        document.getElementById("final-answer-text").innerText =  finalAnswer.replaceAll("\\n", '<br />');
                    });

                    function submitform(_anchorComp) {
                       if (document.getElementById('question').value == '')
                        return;

                       _anchorComp.disabled = true;
                       document.getElementById('chatForm').submit();
                       document.getElementById('chatForm').disabled = true;
                       document.getElementById('question').value = '';
                   }

                    function uploadFile(_fileComp) {

                       document.getElementById('submitButton').disabled = ''
                       document.getElementById('chatForm').submit();
                       fileComp.disabled = true;
                       document.getElementById('chatForm').disabled = true;
                   }
               </script>
            </div>
        </div>
    </div>
</body>
</html>